{
    "admin": [
        "<IDs of admin users>"
    ],
    "home": [
        "<IDs of home channels (for debugging)>"
    ],
    "zsr": {
        "#zsroot": [
            "<channel IDs; these zsr fields can be changed to whatever hashtags, so long as mikkayla.js is updated to reflect that>"
        ],
        "#zsrmm": [
            ""
        ],
        "#zsrtww": [
            ""
        ],
        "#zsrtp": [
            ""
        ],
        "#zsrss": [
            ""
        ],
        "#zsrbotw": [
            ""
        ],
        "#zsrtest": [
            ""
        ]
    },
    "blacklist": [
        {
            "name": "<name of twitter user to blacklist>",
            "id": "<id of twitter user to blacklist"
        }
    ],
    "voice": [
        "<IDs of voice channels to join>"
    ],
    "volume": "<0 to 1>"
}
